{% extends "base.j2" %}

{% block body %}
I, {{ applicant_name }}, wish to apply for housing assistance under the Pradhan Mantri Awas Yojana (PMAY). I do not currently own a pucca house and request that my application be considered for the applicable subsidy/assistance under this scheme.
{% endblock %}
